* {
  font-family: "Itim", cursive;
}

body {
  margin: 0px auto;
  background-color: black;
}
.text-center {
  text-align: center;
}

#welcome {
  color: white;
  text-transform: capitalize;
  font-size: 5em;
  padding-top: 30px;
}
.collection-header {
  color: white;
}
.slideShow{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slideShow__container{
width: 50%;
}
.slideShow img{
  width: 100%;
}
.prev,.next{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.prev, .next{
  display: inline-block;
  cursor: pointer;
}
#nature-slide,#people-slide{
  display: none;
}
#album {
  padding-top: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  width: 70%;
  color: white;
  margin: 0 auto;
}

#album > p {
  /* color: black; */
  margin: 10px 0;
}

#album > a {
  display: inline-block;
  padding: 10px;
  /* color: black; */
  width: 200px;
  cursor: pointer;
}

#album > a:hover {
  background-color: white;
  color: black;
  border-radius: 3px 3px 3px 3px;
}
#main {
  border: 5px solid rgba(116, 105, 105, 0.781);
}

a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 1.3em;
  text-orientation: sideways;
  text-transform: capitalize;
}
.photos__container {
  width: 60%;
  margin: 0 auto;
}
.photos__container img {
  width: 50%;
  height: auto;
}

.width {
  width: 70%;
  margin: 0 auto;
}
.border-top-right-radius {
  border-top-right-radius: 30px;
}
.border-top-left-radius {
  border-top-left-radius: 30px;
}
.border-bottom-left-radius {
  border-bottom-left-radius: 30px;
}
.border-bottom-right-radius {
  border-bottom-right-radius: 30px;
}

.flower-border {
  border: 4px solid #aaa;
}

.font-size {
  font-size: 0;
}
.row-nature {
  display: flex;
}
.nature-border {
  border: 4px solid rgba(170, 170, 170, 0.383);
}
.nature-photo {
  width: 50%;
}
.nature-photo img {
  width: 100%;
  height: 440px;
}
.people-border {
  border: 4px solid black;
}

#about {
  margin: 0 auto;
  width: 70%;
}
#about hr,#contact hr{
  width: 10rem;
}

.about-name {
  color: white;
  font-family: "Itim", cursive;
}
.about-header {
  font-size: x-large;
}
.about-paragraph {
  color: rgb(181, 190, 199);
  font-weight: 800;
  font-size: large;
}
.skills-title {
  font-size: x-large;
}
.skill-text{
  letter-spacing: 5px;
}
.skills-lists {
  margin-top: 1.5rem;
}
.skills-lists i{
  padding: 00.5rem;
}
.skills-list {
  background-color: rgba(112, 128, 144, 0.301);
  border-radius: 0.5rem;
}
.skills-list-percentage {
  background-color: rgba(240, 255, 246, 0.794);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.percentage-90 {
  width: 90%;
}
.percentage-94 {
  width: 94%;
}
.percentage-99 {
  width: 99%;
}
.skills-list-label {
  color: whitesmoke;
  font-size: 24px;
}
.resumeBtn__container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}
.resume-btn {
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}
.resume-btn:hover {
  background-color: gray;
  color: whitesmoke;
}
#prouds {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  height: 10rem;
  border-radius: 0.5rem;
}
#prouds div {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
#partners-div {
  border-radius: 0.5rem 0 0 0.5rem;
}
.gray-background {
  background-color: grey;
}
#prices {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.price-table__container {
  width: 100%;
}
.price-table {
  background-color: darkgray;
  margin: 0 auto;
}
.price-header {
  color: white;
  font-family: "Itim", cursive;
}
.price-per-month {
  font-size: 2em;
  color: black;
}
#table-1:hover {
  background-color: #d6d5d5;
}
#table-2:hover {
  background-color: #d6d5d5;
}

table {
  width: 80%;
}
table,
td,
th {
  border: rgba(8, 5, 5, 0.835) solid 1px;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.5rem;
}
td {
  padding: 1.5rem;
}
th {
  padding: 3rem;

  background-color: grey;
  color: whitesmoke;
}

.signUp-btn {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  width: 10rem;
  padding: 0.8rem;
  font-size: medium;
}

#contact {
  width: 70%;
  margin: 0 auto;
}
.contact-header {
  color: white;
}
.contact-label{
  color:whitesmoke; font-size: 24px;
}
.contact-text{
  color: white;
  font-size: medium;
  font-weight: 800;
}
#form {
  width: 70%;
  margin: 0 auto;
}
.form-header {
  color: rgba(255, 255, 255, 0.89);
  font-size: medium;
  font-weight: 800;
}
#form input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
}
#message {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 100%;
}
#send-message {
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
}
#send-message:hover {
  background-color: gray;
  color: white;
  outline: none;
  border: none;
}
#prices {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media__container {
  width: 100%;
}
.social-media__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.social-media__links li {
  margin-right: 1rem;
}
.social-media__link {
  color: grey;
  font-size: 36px;
}
.social-media__links i:hover {
  font-weight: bolder;
}
#gotoTop {
  position: fixed;
  bottom: 10px;
  right: 5px;
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}
#gotoEnd {
  position: fixed;
  top: 10px;
  right: 5px;
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}
#gotoEnd:hover {
  background-color: white;
  color: black;
}
#gotoTop:hover {
  background-color: white;
  color: black;
}
#menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 12%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.212);
  text-align: center;
  font-size: small;
}
#menu img{
  width: 100%;
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu ul li{
  margin-top: 0.5rem;
  cursor: pointer;
}
#menu li:hover {
  background-color: gray;
}

#menu a{
  display: inline-block;
  width: 100%;
}
#menu p {
  margin: 0px;
}
.menu-label{
  color: whitesmoke;
   font-size: 36px;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 1200px) {

  #prices {
    width: 80%;
  }
  .resumeBtn__container {
    justify-content: center;
  }
}

@media (max-width: 967px) {
  #menu {
    position: relative;
    display: none;
  }
  #about ,#prices,#contact,#form{
    width: 90%;
  }
  .photos__container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #personal-photo img {
    width: 80%;
  }
  #contact,
  #form,
  .photos__container {
    width: 90%;
  }
  #form input {
    width: 100%;
  }
  #prices {
    flex-direction: column;
  }
  #prouds div {
    font-size: medium;
    padding: 0.5rem;
  }
  #table1,
  #table2 {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 557px) {
  #prices {
    width: 100%;
  }
  #about {
    width: 90%;
  }
  #prouds {
    flex-direction: column;
    height: auto;
    border-radius: 0;
  }
  #prouds div{
    border-radius: 0;
  }
  .photos__container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .photos__container img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .nature-photo ,#personal-photo img ,table{
    width: 100%;
  }
  .row-nature {
    flex-direction: column;
  }

}
