* {
  font-family: "Itim", cursive;
}

body {
  margin: 0px auto;
  background-color: black;
}
.text-center {
  text-align: center;
}
#welcome {
  color: white;
  text-transform: capitalize;
  font-size: 5em;
  padding-top: 30px;
}

#album {
  padding-top: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  background-color: rgba(245, 245, 245, 0.829);
  height: 110px;
  width: 70%;
  margin: 0 auto;
}

#album > p {
  color: black;
  margin: 10px 0;
}

#album > a {
  display: inline-block;
  padding: 10px;
  color: black;
  width: 200px;
}

#album > a:hover {
  background-color: rgb(128, 128, 128);
  border-radius: 3px 3px 3px 3px;
}
#span-album {
  background-color: rgba(128, 128, 128, 0.774);
  border-radius: 3px 3px 3px 3px;
}
#main {
  border: 5px solid rgba(116, 105, 105, 0.781);
}

a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

h1,
h2,
h5 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 1.3em;
  text-orientation: sideways;
  text-transform: capitalize;
}
.photos__container {
  width: 60%;
  margin: 0 auto;
}
.photos__container img {
  width: 50%;
  height: auto;
}
/* #flowers,#nature {
    width: 60%;
margin: 0 auto;
}
#flowers img,#nature img{
    width: 50%;
    height: auto;
} */
.width {
  width: 70%;
  margin: 0 auto;
}
#flower1 {
  border-radius: 30px 0px 0px 0px;
  border: 4px solid #aaa;
}

#flower2 {
  border-radius: 0px 30px 0px 0px;
  border: 4px solid #aaa;
}

#flower3 {
  border-radius: 0px 0px 0px 30px;
  border: 4px solid #aaa;
}

#flower4 {
  border-radius: 0px 0px 30px 0px;
  border: 4px solid #aaa;
}

.font-size {
  font-size: 0;
}
#nature {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
}
/* .nature-images img{
    height: 100%;
} */

#nature1 {
  border-radius: 30px 0px 0px 0px;
  border: 4px solid rgba(170, 170, 170, 0.383);
}

#nature2 {
  border-radius: 0px 30px 0px 0px;
  border: 4px solid rgba(170, 170, 170, 0.383);
}

#nature3 {
  border-radius: 0px 0px 0px 30px;
  border: 4px solid rgba(170, 170, 170, 0.383);
}

#nature4 {
  border-radius: 0px 0px 30px 0px;
  border: 4px solid rgba(170, 170, 170, 0.383);
}

#people1 {
  border-radius: 30px 0px 0px 0px;
  border: 4px solid black;
}

#people2 {
  border-radius: 0px 30px 0px 0px;
  border: 4px solid black;
}

#people3 {
  border-radius: 0px 0px 0px 30px;
  border: 4px solid black;
}

#people4 {
  border-radius: 0px 0px 30px 0px;
  border: 4px solid black;
}

#about {
  margin: 0 auto;
  width: 70%;
}
#interests {
  font-size: 1.3em;
  background-color: rgba(245, 245, 245, 0.329);
  height: 500px;
  border-radius: 10px 10px 10px 10px;
}

#interests > p {
  color: black;
  text-align: center;
  background-color: rgba(128, 128, 128, 0);
  border-radius: 10px 10px 10px 10px;
}

#interests > ul > li {
  color: black;
  text-transform: capitalize;
}

.skills-title{
  font-size: large;
}
.skills-list {
  background-color: rgba(112, 128, 144, 0.301);
}
.skills-list-percentage {
  background-color: rgba(240, 255, 246, 0.794);
  height: 40px;
  width: 90%;
  text-align: center;
  line-height: 25px;
  padding-top: 13px;
}
.skills-list-label{
  color: whitesmoke;
   font-size: 24px;
}
.resume-btn {
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}
#prouds {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: gainsboro;
  height: 10rem;
  /* border-start-end-radius: 0.5rem; */
}
#prouds div {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.gray-background {
  background-color: grey;
}
#prices {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.price-table__container{
  width: 100%;
}
.price-table{
  background-color: darkgray;
}

.price-per-month{
  font-size: 2em;
  color: black;
}
#table-1:hover {
  background-color: #d6d5d5;
}
#table-2:hover {
  background-color: #d6d5d5;
}
/* #table1,
#table2 {
  display: inline-block;
  width: 500px;
  margin: 0 20px;
} */
table{
  width: 80%;
}
table,
td,
th {
  border: rgba(8, 5, 5, 0.835) solid 1px;
  border-collapse: collapse;
  text-align: center;
}
td {
  padding: 20px 20px;
}
th {
  padding: 40px 40px;
  font-size: 2em;
  background-color: grey;
  color: whitesmoke;
}

.signUp-btn {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  width: 10rem;
  padding: 0.8rem;
}
form p {
  width: 100%;
}
#contact {
  width: 70%;
  margin: 0 auto;
}
#form {
  width: 70%;
  margin: 0 auto;
}
#form input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
}
#message {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
#send-message {
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
}
#send-message:hover {
  background-color: gray;
  color: white;
  outline: none;
  border: none;
}
#prices {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media__container {
  width: 100%;
}
.social-media__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.social-media__links li {
  margin-right: 1rem;
}
.social-media__link{
  color: grey;
  font-size: 36px;
}
.social-media__links i:hover {
  font-weight: bolder;
}
#gotoTop {
  position: fixed;
  bottom: 10px;
  right: 5px;
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}
#end {
  position: fixed;
  top: 10px;
  right: 5px;
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}
#end:hover {
  background-color: white;
  color: black;
}
#gotoTop:hover {
  background-color: white;
  color: black;
}
#menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.212);
  text-align: center;
  font-size: small;
}
#menu a {
  display: block;
}
#menu a:hover {
  background-color: gray;
}
#menu hr {
  margin: 0 0;
}
#menu p {
  margin-bottom: 0px;
}
button:hover {
  background-color: gray;
  color: whitesmoke;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 1200px) {
  #menu {
    position: relative;
    display: none;
  }
  #prices {
    width: 90%;
  }
}

@media (max-width: 967px) {
  #about {
    width: 90%;
  }
  .photos__container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #contact,
  #form,
  #about {
    width: 90%;
  }
  #form input {
    width: 100%;
  }
  #prices {
    flex-direction: column;
  }
  .photos__container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .photos__container img {
    width: 100%;
    border-radius: 1rem;
  }
  #prouds div {
    font-size: medium;
    padding: 0.5rem;
  }
}

@media (max-width: 557px) {
  #prices {
    width: 100%;
  }
  #about {
    width: 90%;
  }
  #table1,
  #table2 {
    width: 80%;
    margin: 0 auto;
  }
  #prouds {
    flex-direction: column;
    height: auto;
  }
}
