.photos__container {
    width: 50%;
    margin: 0 auto;
}

.photos__container img {
    width: 50%;
    height: auto;
}

.border-top-right-radius {
    border-top-right-radius: 30px;
}

.border-top-left-radius {
    border-top-left-radius: 30px;
}

.border-bottom-left-radius {
    border-bottom-left-radius: 30px;
}

.border-bottom-right-radius {
    border-bottom-right-radius: 30px;
}

.flower-border {
    border: 4px solid #aaa;
}

.row-nature {
    display: flex;
}

.nature-border {
    border: 4px solid rgba(170, 170, 170, 0.383);
}

.nature-photo {
    width: 50%;
}

.nature-photo img {
    width: 100%;
    height: 440px;
}

.people-border {
    border: 4px solid black;
}

.text-center {
    text-align: center;
}

.white-header {
    color: white;
}

h2 {
    font-size: 1.2rem;
}